.button {
  background: rgb(214, 214, 214);
  border-radius: 5px;
  padding: 8px 15px;
  border: none;
}

.button:hover {
  background: rgb(194, 194, 194);
  cursor: pointer;
}

.h2 {
  margin: 0;
}

:global(.active) button {
  border-left: 2px solid #999797;
  border-right: 2px solid #999797;
}
